<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time%></p>

<form method = "POST" action = "/recipes/<%=@recipe.id%>">
<input type = 'hidden' value = 'patch' name = '_method'>
    <p>Name: <input type = "text" name = "name" id = "name" placeholder = "Please enter your name"> value = "<%=@recipe.name%></p>
    <p>Ingredients: <input type = "text" name = "ingredients" id = "ingredients" placeholder = "Please enter your ingredients"></p>
    <p>Cook Time: <input type = "text" name = "cook_time" id = "cook_time" placeholder = "Please enter your cook time"></p>
    <input type = "submit" value = "Submit" id = "submit">
    </form>